* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dexContainerDesligado {
  width: 60vw;
  margin: auto;

  transition: all 0.2s linear
}
.dexBody {
  background-color: #bd0303;
  width: 100%;
  height: 100vh;
  border: solid 3px black;

  transition: all 0.2s linear
}
.dexTopo {
  display: flex;
  width:100%;
  height: 10vw;
}
.dexTopoEsq {
  display: flex;
  border-bottom: solid black 8px;
  border-bottom-right-radius: 40px;
  width: 50%;
  height: 100%;
}
.dexTopoDir {
  border-bottom: solid black;
  width: 50%;
  height: 70%;
}
.circuloAzulDesligado {
  margin-left: 5%;
  margin-top: 2%;
  background-color: gray;
  color: gray;
  border: solid white 5px;
  border-radius: 100%;
  font-size: 8vw;
  
  transition: all 0.3s linear
}
.tresBolas{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  width: 60%;
}
.circuloVermelho {
  background-color: red;
  color: red;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.circuloAmarelo {
  background-color: yellow;
  color: yellow;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.circuloVerde {
  background-color: green;
  color: green;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.botaoAbrir{
  margin-top:40vh;
  cursor: pointer;
  background: none;
  border: none;
}
.setaAmarela {
  color: yellow;
  font-size: 4vw;
}


.dexContainerLigado {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin: 0;
  transition: all 0.2s linear
}
.dexBodyLigado {
  background-color: #bd0303;
  width: 50%;
  height: 100vh;
  border: solid 3px black;
  transition: all 0.2s linear
}
.circuloAzulLigado {
  margin-left: 5%;
  margin-top: 2%;
  background-color: aqua;
  color: aqua;
  border: solid white 5px;
  border-radius: 100%;
  font-size: 8vw;
  
  transition: all 0.8s linear
}
.dexLadoDireito{
  display: flex;
  flex-direction: column;
  background-color: #bd0303;
  border-top-right-radius: 10px;
  width: 48vw;
  height: 85vh;
  border-bottom: solid black 3px;
}
.topoDexDireito{
  display: flex;
}
.topoEsquerdo{
  width: 50%;
  height: 5vh;
  margin-bottom: 0;
  border-top: solid black 3px;
}
.topoDireito{
  width: 50%;
  height: 5vh;
  margin-bottom: 0;
  border-top-right-radius: 10px;
  border-bottom: solid black 4px;
  border-bottom-left-radius: 40px;
  background-color: white;
}
.centroDireito{
  width: 100%;
  height: 100%;
  border-right: solid black 3px;
}