* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dexContainerDesligado {
  width: 60vw;
  margin: auto;

  transition: all 0.2s linear
}
.dexBody {
  background-color: #bd0303;
  width: 100%;
  height: 100vh;
  border: solid 3px black;

  transition: all 0.2s linear
}
.dexTopo {
  display: flex;
  width:100%;
  height: 10vw;
}
.dexTopoEsq {
  display: flex;
  border-bottom: solid black 8px;
  border-bottom-right-radius: 40px;
  width: 50%;
  height: 100%;
}
.dexTopoDir {
  border-bottom: solid black;
  width: 50%;
  height: 70%;
}
.circuloAzulDesligado {
  margin-left: 5%;
  margin-top: 2%;
  background-color: gray;
  color: gray;
  border: solid white 5px;
  border-radius: 100%;
  font-size: 8vw;
  
  transition: all 0.3s linear
}
.tresBolas{
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  width: 60%;
}
.circuloVermelho {
  background-color: red;
  color: red;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.circuloAmarelo {
  background-color: yellow;
  color: yellow;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.circuloVerde {
  background-color: green;
  color: green;
  border: solid black 1px;
  border-radius: 100%;
  font-size: 1.5vw;
}
.botaoAbrir{
  margin-top:40vh;
  cursor: pointer;
  background: none;
  border: none;
}
.setaAmarela {
  color: yellow;
  font-size: 4vw;
}


.dexContainerLigado {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin: 0;
  transition: all 0.2s linear
}
.dexBodyLigado {
  background-color: #bd0303;
  width: 50%;
  border: solid 3px black;
  transition: all 0.2s linear
}
.circuloAzulLigado {
  margin-left: 5%;
  margin-top: 2%;
  background-color: aqua;
  color: aqua;
  border: solid white 5px;
  border-radius: 100%;
  font-size: 8vw;
  
  transition: all 0.8s linear
}
.dexLadoDireito{
  display: flex;
  flex-direction: column;
  background-color: #bd0303;
  border-top-right-radius: 10px;
  width: 48vw;
  height: 85vh;
  border-bottom: solid black 3px;
}
.topoDexDireito{
  display: flex;
}
.topoEsquerdo{
  width: 50%;
  height: 5vh;
  margin-bottom: 0;
  border-top: solid black 3px;
}
.topoDireito{
  width: 50%;
  height: 5vh;
  margin-bottom: 0;
  border-top-right-radius: 10px;
  border-bottom: solid black 4px;
  border-bottom-left-radius: 40px;
  background-color: white;
}
.centroDireito{
  width: 100%;
  height: 100%;
  border-right: solid black 3px;
}

/* Tela Esquerda */
.centroEsquerdo{
  width: 100%;
  height: 72vh;
}
.bordaVisorPokemon{
  margin: auto;
  margin-top: 2vw;
  padding-top: 3vw;
  width: 60%;
  height: 60%;
  background-color: rgb(235, 222, 207);
  border-bottom-left-radius: 90px;
  border: black solid 2px;
}
.visorPokemonDesligado{
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: black;
  border-radius: 8px;

  transition: all 0.8s linear
}
.visorPokemonLigado{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 8px;
  border: solid black 1px;

  transition: all 0.8s linear
}
.erroBox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: inherit;
}
.erroMsg{
  color: yellow;
}
.spritesPokes{
 margin-left: auto;
  width: 95%;
}
.pokeSprite{
  width: 45%;
}
.nomePokemon{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}
.containerBotoesEsquerda{
  display: flex;
  justify-content: space-between;
}
.btnCirculoPreto{
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10%;
  margin-top: 2%;
}
.circuloPreto{
  background-color: rgb(75, 74, 74);
  border: solid black 5px;
  border-radius: 100%;
  font-size: 4vw;
}
.btnPadPreto{
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10%;
  margin-top: 6%;
}
.padPreto{
  font-size: 8vw;
}
.boxBotoesEsquerda{
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  margin-top: 5%;
}
.selects{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.selectVermelho{
  background-color: rgb(224, 70, 70);
  width: 40%;
  height: 10px;
}
.selectAzul{
  background-color: rgb(38, 2, 201);
  width: 40%;
  height: 10px;
}
.telaVerde{
  background-color: rgb(47, 255, 57);
  width: 100%;
  height: 60px;
  margin-top: 4vw;
}


/* Tela Direita */
.containerVisores{
  display: flex;
  flex-direction: column;
  width: 93%;
  margin: auto;
  margin-top: 5%;
}
.dadosPokemon{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  color: yellow;
}
.visorDados{
  background-color: black;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  border-radius: 5px;
  border: solid rgb(73, 73, 73) 1px;
  height: 13vw;
}
.tipagem{
  display: flex;
  align-items: center;
  margin-top: 1vw;
}
.statusBasicos{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 2vw;
}
.containerPesquisa{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 95%;
  margin-top: 2vw;
}
.abaPesquisa{
  display: flex;
  align-items: center;
}
.form-input{
  outline: none;
  height: fit-content;
  max-width: 15vw;
  font-size: 2rem;
}
.botaoPesquisa{
  background: none;
  border: none;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}
.quadroPesquisa{
  color: gainsboro;
  border: solid black 1px;
  border-radius: 8px;
  font-size: 3rem;
}
.botaoAmarelo{
  color: yellow;
  border: solid black 1px;
  border-radius: 100%;
  background-color: yellow;
  font-size: 4vw;
}
.botaoFechar{
  cursor: pointer;
  background: none;
  border: none;
}







/* States Poke */
.boxhp{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid palevioletred 1px;
  padding: 0 0.5vw;
}
.hp{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: palevioletred;
}
.boxattack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid red 1px;
  padding: 0 0.5vw;
}
.attack{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: red;
}
.boxdefense{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid green 1px;
  padding: 0 0.5vw;
}
.defense{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: green;
}
.boxspecial-attack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid rgb(136, 1, 1) 1px;
  padding: 0 0.5vw;
}
.special-attack{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(136, 1, 1);
}
.boxspecial-defense{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid rgb(6, 250, 6) 1px;
  padding: 0 0.5vw;
}
.special-defense{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: rgb(6, 250, 6);
}
.boxspeed{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid aqua 1px;
  padding: 0 0.5vw;
}
.speed{
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: aqua;
}

/* Tipos Poke */
.normal{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(223, 196, 140);
}
.fire{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: orangered;
}
.fighting{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: brown;
}
.water{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(100, 100, 250);
}
.flying{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(182, 182, 241);
}
.grass{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(14, 197, 14);
}
.poison{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: purple;
}
.electric{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(238, 238, 13);
}
.ground{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(245, 205, 73);
}
.psychic{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(243, 87, 113);
}
.rock{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(128, 98, 3);
}
.ice{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: aqua;
}
.bug{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(195, 252, 111);
}
.dragon{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(8, 8, 170);
}
.ghost{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: rgb(55, 6, 75);
}
.dark{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  border: solid white 1px;
  height: 30px;
  color: white;
  background-color: black;
}
.steel{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: gray;
}
.fairy{
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  padding: 2px 4px;
  margin-left: 2vw;
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  height: 30px;
  color: white;
  background-color: pink;
}